<%- include('../partials/header') %>

    <h1>Crear pelicula</h1>
    <form action="/movies/create" method="POST">

        <div>
            <label for="">Titulo</label>
            <input type="text" name="title">
        </div>

        <div>
            <label for="">Rating</label>
            <input type="text" name="rating">
        </div>

        <div>
            <label for="">Fecha de estreno</label>
            <input type="date" name="releaseDate">
        </div>

        <div>
            <label for="">Genero</label>
            <select name="genre">
                <!-- este for recorrera la base de datos, traera los generos a traves de la variable declarada en el controlador e imprime en cada option el name de cada genero -->
                <% for( let i = 0; i < genres.length; i++ ) { %>
                    <option value="<%= genres[i].id %>">
                        <%= genres[i].name %> 
                    </option>
                <% } %>
            </select>
        </div>

        <div>
            <label for="image">Poster de la pelicula</label>
            <input type="file" name="imageM" class="imageM" id="imageM">
        </div>





        <button type="submit"> Crear </button>
        <button type="reset">Reiniciar datos</button>


    </form>

    <%- include('../partials/footer') %>