<html lang="en">

<head>
    <title>Alkemy NodeJS!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <header>
        <p>Mi sitio!</p>
        <nav>
            <ul>
                <li><a href="/movies/create">Crear Peli</a></li>
                <li><a href="/movies">Ver Pelis</a></li>
            </ul>

        </nav>

    </header>